{
    "bot":{
        "token":"",
        "prefix":"!",
        "name": "Stonebot",
        "iconurl": "",
        "debug":false
    },
    "chccore":{
        "port": 3335,
        "username":"",
        "password":""
    },
    "role":{
        "chainster":"Chainster",
		"support":"Support"
    },
    "mongodb":{
		"url": "",
		"db": ""
	},
    "Channels":{
        "logchannel": "464146525379887114",
    },
    "id":{
        "self":"",
        "other":[
            "",
            ""
        ]
    },
    "coin":{
        "symbol":"STONE",
        "explorer":"explorer.stonecoin.rocks"
    }
}
